<html>
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TUARAN</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- google search console -->
    <meta name="google-site-verification" content="aMhxD50Qb1wfV9Zgn2oSp28v0A4n0HcKcm5avGZR8H4" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171085431-1"></script>
    <!-- 信念产生行动 行动养成习惯 习惯生成性格 性格决定命运 -->
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-171085431-1');
    </script>
    <link rel="stylesheet" type="text/css" href="./assets/css/index.css">
</header>

<body>
    <div id="app">
        <div v-if='loading' class="coffee_cup loader"></div>
        <div class="home" ref='home' style="display: none;">
            <h3 class="principle">黃沙百戰穿金甲 不破樓蘭終不還<img id='rotate' src="./assets/img/sun.svg" width="50" height="50"
                    title='愿你今日美好' type="image/svg+xml" /></h3>
            <div class="content-wrap">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{message}}</span>
                        <el-button style="float: right; padding: 3px 0" type="text" @click="handleRss">RSS</el-button>
                    </div>
                    <div class="text item">
                        <div v-for='(item,index) in introText' :key='index' class="text item">
                            <span v-for='(i,index) in item.text' :style='i.s' :key='index'>
                                <a v-if='i.l' :href="i.l" target="_blank">{{i.t}}</a>
                                <span v-else>{{i.t}}</span>
                            </span>
                        </div>
                    </div>
                </el-card>
                <br>
                <el-tabs type="border-card" class="tabs-box">
                    <el-tab-pane label="资源">
                        <el-card class="box-card" style="min-height: 208px;line-height: 24px;">
                            <p>1. 如果你想加群？
                                <el-popover placement="top-start" width="200" trigger="hover">
                                    <img src="./assets/img/jianzhi.png"></img>
                                    <b class="cursor-p" slot="reference">程序员兼职群</b>
                                </el-popover>
                                、
                                <el-popover placement="top-start" width="200" trigger="hover">
                                    <img src="./assets/img/chaogu.png"></img>
                                    <b class="cursor-p" slot="reference">程序员炒股群</b>
                                </el-popover>
                                、
                                <el-popover placement="top-start" width="200" trigger="hover">
                                    <img src="./assets/img/jjfe.png"></img>
                                    <b class="cursor-p" slot="reference">进击的前端群</b>
                                </el-popover>
                                、
                                <el-tooltip placement="top" content='加微信号，拉你进群' effect="light">
                                    <b class="cursor-p">微信读书群</b>
                                </el-tooltip>
                            </p>
                            <p>2. 如果你想获取学习资源？前端学习资料、Vue/Uniapp 教学视频、Adobe 破解软件等</p>
                            <p>3. 如果你有不错的项目想法？需要帮手？我就是你的资源！</p>
                            <p>加微信号：<span style="color:rgb(51,140,98);user-select:text;">
                                    <el-popover placement="top" width="200" trigger="hover">
                                        <i class="cursor-p" slot="reference">Ifuckinghigh</i>
                                        <img src="./assets/img/wx.png"></img>
                                    </el-popover>
                                </span><span class="tip-span">（公众号 <b>[</b> 突然不突然 <b>]</b> ，维护中~）</span></p>
                            <p></p>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane label="项目">
                        <el-card class="box-card" style="min-height: 208px;line-height: 24px;">
                            <p><span title="这是一个前端开发在学习路上对浏览器书签收纳整理的网站！">1. 前端书签网 <a target="_blank"
                                        href="http://febm.tuaran.site">febm.tuaran.site</a>；<span
                                        class="tip-span">（前端书签集大成者，持续维护）</span></span></p>
                            <p><span title="你可以在上面记录你的每天，每天都立Flag！O(∩_∩)O">2. 每日一立 <a target="_blank"
                                        href="http://ddup.tuaran.site">ddup.tuaran.site</a>；<span class="tip-span">（每日都立
                                        Flag？持续维护）</span></span></p>
                            <p><span title="免费的图床服务！你要的图床功能，我都可以有！">3. 图床服务 <a target="_blank"
                                        href="http://120.78.205.57:3000">tarsFigureBed</a>；<span
                                        class="tip-span">（免费图床，持续维护）</span></span></p>
                            <p><span title="免费的图床服务！你要的图床功能，我都可以有！">4. 更多......<span class="tip-span">（期待合作，合作共赢）
                                        </span</span> </p> <p>
                            </p>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane label="文章推荐">
                        <el-card class="box-card scroll-wrap" style="min-height: 208px;line-height: 24px;">
                            <!-- <a href='https://juejin.im/user/5bcd67a8e51d457947022910/posts'>更多尽在主页</a> -->
                            <div class="scroll-content" :style="{ top,transition }">
                                <div v-for="(o,i) in articleArr" :key="o.item" class="text item"
                                    style="white-space: nowrap;">
                                    <a :href="o.link" target="_blank">{{o.item }}</a>
                                    <span class="statistic-span" v-if='o.view'>阅读：{{o.view}}</span><span
                                        class="statistic-span" v-if='o.like'>点赞：{{o.like}}</span>
                                </div>
                            </div>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane label="近期计划">
                        <el-card class="box-card" style="min-height: 208px;line-height: 24px;">
                            <el-tag @click="showDrawer(tag.key)" type="warning" v-for="tag in planTags" :key="tag.name"
                                style="margin:5px 10px;cursor: pointer;">
                                {{tag.name}}
                            </el-tag>
                        </el-card>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <el-drawer :title="drawerTitle" :visible.sync="drawer" :with-header="true">
                <el-calendar>
                    <template slot="dateCell" slot-scope="{date, data}">
                        <p :class="data.isSelected ? 'is-selected' : ''">
                            <el-badge v-if='pre[data.day.split("-").slice(1).join("-")]' is-dot class="item"
                                type='warning'>
                                <span style="padding-right:10px">{{ data.day.split('-').slice(1).join('-')}}</span>
                            </el-badge>
                            <span v-else>
                                <span
                                    style="padding-right:10px">{{ data.day.split('-').slice(1).join('-') }}</span></span>

                            <span v-if="data.day.split('-').slice(1).join('-')==currentSelect">✔️</span>
                            <span v-else>{{ data.isSelected ? '✔️' : ''}}</span>
                        </p>
                    </template>
                </el-calendar>
                <el-collapse v-model="activeNames">
                    <el-collapse-item title=" 当日计划：" name="1">
                        <el-card class="box-card">
                            <div v-if='!pre[currentSelect]'>暂无记录</div>
                            <div v-else>
                                <div v-for="(o,index) in pre[currentSelect]" :key="o" class="text item">
                                    {{index+1+'. '+o}}
                                </div>
                            </div>
                        </el-card>
                    </el-collapse-item>
                    <el-collapse-item title=" 当日验收：" name="2">
                        <el-card class="box-card">
                            <div v-if='!check[currentSelect]'>暂无记录</div>
                            <div v-else>
                                <div v-for="(o,index) in check[currentSelect]" :key="o" class="text item">
                                    {{index+1+'. '+o}}
                                </div>
                            </div>
                        </el-card>
                    </el-collapse-item>
                </el-collapse>
            </el-drawer>
            <div class="footer">
                <div class="footer-p beian">粤ICP备20050840号 <span>©2020</span></div>
                <div class="footer-p ">Statistic Analysis Power By <a class="bottom-link" target="_blank"
                        href='https://analytics.google.com/analytics/web/provision/#/provision'>Google Analytics</a> |
                    <a target="_blank" class="bottom-link" href='https://search.google.com/search-console'> Google
                        Search
                        Console</a> | <a class="bottom-link" href="https://cloud.google.com">More Support</a></div>
            </div>
        </div>
        <div class="page-absolute">
        </div>
    </div>
</body>
<style>
    .scroll-wrap {
        height: 220px;
        overflow: hidden;
    }

    .scroll-content {
        position: relative;
    }
</style>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- module -->
<script type="module">
    import {plan} from './assets/data/plan.js'
    import {introText,articleArr,focusArr,performanceTime} from './assets/data/basic.js'
    var app = new Vue({
        el: '#app',
        data: {
            message: '遇见即是缘起，很高兴能遇见你！',
            loading: true,
            drawer: false,
            drawerTitle: '',
            activeNames: ['1', '2'], // 抽屉折叠展板
            introText:introText, // 介绍文本
            articleArr:articleArr ,// 推荐文章
            planTags: [{
                name: '个站建设',
                key: 'site'
            }, 
            {
                name: '撰文输出',
                key: 'write'
            },
            {
                name: '学无止境',
                key: 'study'
            },
            {
                name: '生活点滴',
                key: 'life'
            },
            {
                name: '读万卷书',
                key: 'read'
            },
            {
                name: '行万里路',
                key: 'walk'
            }
            ],
            currentSelect: '',
            pre:{},
            check:{},
            activeIndex: 0
        },
        created() {},
        computed: {
            top() {
                return - this.activeIndex * 80 + 'px';
            },
            transition() {
                return this.activeIndex === 0 ? 'none' : 'top 10s';
            }
        },
        watched: {

        },
        mounted() {
            this.loading = false;
            this.$refs.home.style.display = 'flex'
            this.todayMY()
            this.handleConsole()
            this.scrollArticle()
        },
        methods: {
            scrollArticle(){
            // 滚动显示文章
            setInterval(_ => {
                        if(this.activeIndex===0){
                            
                            this.activeIndex =1; // 上移
                        }else{
                            
                            let temp=this.articleArr[0]
                            this.articleArr.splice(0,1)// 删除第一个
                            this.articleArr.push(temp)// 移到队尾
                            this.activeIndex=0
                        }
                }, 3000);
            },
            todayMY(){
                // 计算今天：月-日
            let nowMonth = new Date().getMonth() + 1;
            let strDate = new Date().getDate();
            if (nowMonth >= 1 && nowMonth <= 9) {
                nowMonth = "0" + nowMonth;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            this.currentSelect=nowMonth+'-'+strDate
            },
            handleRss() {
                this.$notify({
                    title: 'Oops',
                    message: 'RSS 订阅功能还在开发中',
                    type: 'warning'
                });
            },
            showImgJZ() {
                this.$notify({
                    title: '扫码进群',
                    dangerouslyUseHTMLString: true,
                    message: '<img src="./assets/img/jianzhi.jpg" width="60px" height="80px">'
                });
            },
            showDrawer(key) {
                // SHOW SLIDE DRAWE
                this.drawer = true;
                this.drawerTitle = this.planTags.find(item => item.key == key).name;
                // PRE AND CHECK
                this.pre=plan[key].pre
                this.check=plan[key].check
                this.$nextTick(() => {
                    // FIXME: 初始化绿勾
                    

                    // 监听切换日期
                    let currentDate = document.querySelector('.el-calendar-table tbody');
                    currentDate.addEventListener('click', () => {
                        let date = document.querySelector('.current.is-selected').textContent
                            .trim().substring(0, 5);
                        this.currentSelect = date
                    })
                    // 监听切换上下月
                    let toggleMonth = document.querySelector('.el-calendar__button-group .el-button-group');
                    toggleMonth.addEventListener('click', () => {
                        let date = document.querySelector('.current.is-selected').textContent
                            .trim().substring(0, 5);
                        this.currentSelect = date
                    })
                    
                })
            },
            handleConsole(){
                console.log("----------------------- 更多相关 -----------------------\n诚邀志同道合者同行 ~\n")
                console.log("Base📍：", "广州")
                console.log("毕业院校🏫：", "华师（SCNU）")
                console.log("我还关注👀：")
                console.table(focusArr);
                console.log("----------------------- 网站相关 -----------------------")
                console.log("性能监控📡：")
                console.table(performanceTime)
                console.log("阿里云推荐码🐎：https://www.aliyun.com/minisite/goods?userCode=nk1m1mfv");
                console.log("备案变更🔒base64：REhIOTMz");
            }
        }
    })
</script>

</html>