<html>
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TUARAN</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- google search console -->
    <meta name="google-site-verification" content="aMhxD50Qb1wfV9Zgn2oSp28v0A4n0HcKcm5avGZR8H4" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171085431-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-171085431-1');
    </script>
    <link rel="stylesheet" type="text/css" href="./assets/css/index.css">
</header>

<body>
    <div id="app">
        <div v-if='loading' class="coffee_cup loader"></div>
        <div class="home" ref='home' style="display: none;">
            <h3 class="principle">黃沙百戰穿金甲 不破樓蘭終不還<img id='rotate' src="./assets/img/sun.svg" width="50" height="50"
                    title='愿你今日美好' type="image/svg+xml" /></h3>
            <div class="content-wrap">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>{{message}}</span>
                        <el-button style="float: right; padding: 3px 0" type="text" @click="handleRss">RSS</el-button>
                    </div>
                    <div class="text item">
                        <div v-for='(item,index) in introText' :key='index' class="text item">
                            <span v-for='(i,index) in item.text' :style='i.s' :key='index'>
                                <a v-if='i.l' :href="i.l" target="_blank">{{i.t}}</a>
                                <span v-else>{{i.t}}</span>
                            </span>
                        </div>
                    </div>
                </el-card>
                <br>
                <el-tabs type="border-card" class="tabs-box">
                    <el-tab-pane label="资源">
                        <el-card class="box-card">
                            <p>1. 如果你想加群？
                                <el-popover placement="top-start" width="200" trigger="hover">
                                    <img src="../assets/img/jianzhi.png"></img>
                                    <b class="cursor-p" slot="reference">程序员兼职群</b>
                                </el-popover>
                                、
                                <el-popover placement="top-start" width="200" trigger="hover">
                                    <img src="../assets/img/chaogu.png"></img>
                                    <b class="cursor-p" slot="reference">程序员炒股群</b>
                                </el-popover>
                                、
                                <el-tooltip placement="top" content='加微信号，拉你进群' effect="light">
                                    <b class="cursor-p">进击的前端群</b>
                                </el-tooltip>
                                、
                                <el-tooltip placement="top" content='加微信号，拉你进群' effect="light">
                                    <b class="cursor-p">微信读书群</b>
                                </el-tooltip>
                            </p>
                            <p>2. 如果你想获取学习资源？前端学习资料、Vue/Uniapp 教学视频、Adobe 破解软件等</p>
                            <p>3. 如果你有不错的项目想法？需要帮手？我就是你的资源！</p>
                            <p>加微信号：<span style="color:rgb(51,140,98);user-select:text;">
                                    <el-popover placement="top" width="200" trigger="hover">
                                        <i class="cursor-p" slot="reference">Ifuckinghigh</i>
                                        <img src="../assets/img/wx.png"></img>
                                    </el-popover>
                                </span><span class="tip-span">（公众号 <b>[</b> 突然不突然 <b>]</b> ，维护中~）</span></p>
                            <p></p>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane label="项目">
                        <el-card class="box-card">
                            <!-- <p>我在自己的 ECS 上搭建了一些 web 服务。致力于做有用的个人站点！</p> -->
                            <p><span title="这是一个前端开发在学习路上对浏览器书签收纳整理的网站！">1. 前端书签网 <a target="_blank"
                                        href="http://febm.tuaran.site">febm.tuaran.site</a>；<span
                                        class="tip-span">（前端书签集大成者，持续维护）</span></span></p>
                            <p><span title="你可以在上面记录你的每天，每天都立Flag！O(∩_∩)O">2. 每日一立 <a target="_blank"
                                        href="http://ddup.tuaran.site">ddup.tuaran.site</a>；<span class="tip-span">（每日都立
                                        Flag？持续维护）</span></span></p>
                            <p><span title="免费的图床服务！你要的图床功能，我都可以有！">3. 图床服务 <a target="_blank"
                                        href="http://120.78.205.57:3000">tarsFigureBed</a>；<span
                                        class="tip-span">（免费图床，持续维护）</span></span></p>
                            <p><span title="免费的图床服务！你要的图床功能，我都可以有！">4. 更多......<span class="tip-span">（期待合作，合作共赢）
                                        </span</span> </p> <p>
                            </p>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane label="近期计划">
                        <el-card class="box-card">
                            <div style="overflow-y: auto;height: 165px;">
                                <el-timeline>
                                    <el-timeline-item v-for="(activity, index) in activities" :key="index"
                                        :timestamp="activity.timestamp">
                                        {{activity.content}}<span>{{activity.state}}</span>
                                    </el-timeline-item>
                                </el-timeline>
                            </div>
                        </el-card>
                    </el-tab-pane>
                    <el-tab-pane label="文章推荐">
                        <el-card class="box-card">
                            <div v-for="(o,i) in articleArr" :key="o" class="text item">
                                {{i+1+'. '}}<a :href="o.link" target="_blank">{{o.item }}</a>
                                <span class="statistic-span" v-if='o.view'>阅读：{{o.view}}</span><span
                                    class="statistic-span" v-if='o.like'>点赞：{{o.like}}</span>
                            </div>
                        </el-card>
                    </el-tab-pane>
                </el-tabs>
            </div>
            <div class="footer">
                <div class="footer-p beian">粤ICP备20050840号 <span>©2020</span></div>
                <div class="footer-p ">Statistic Analysis Power By <a class="bottom-link" target="_blank"
                        href='https://analytics.google.com/analytics/web/provision/#/provision'>Google Analytics</a> |
                    <a target="_blank" class="bottom-link" href='https://search.google.com/search-console'> Google
                        Search
                        Console</a> | <a class="bottom-link" href="https://cloud.google.com">More Support</a></div>
            </div>
        </div>
        <div class="page-absolute">
            <img src="./assets/img/tree.png" alt="" class="topleft">
        </div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '遇见即是缘起，很高兴能遇见你！',
            loading: true,
            introText: [{
                    id: 1,
                    text: [{
                            l: '',
                            t: '我是 —— '
                        }, {
                            l: 'https://juejin.im/user/5bcd67a8e51d457947022910',
                            t: '掘金安东尼',
                            s: "font-weight:700"
                        },
                        {
                            l: '',
                            t: '，一名',
                        },
                        {
                            l: 'https://www.zhihu.com/question/19589966',
                            t: ' 前端开发工程师 ',
                        }
                    ]
                },
                {
                    id: 2,
                    text: [{
                        l: '',
                        t: '我使用 GitHub Page 托管'
                    }, {
                        l: 'https://tuaran.github.io',
                        t: ' 我的博客 ',
                    }, {
                        t: '用于分享交流技术与生活'
                    }]
                },
                {
                    id: 3,
                    text: [{
                        l: '',
                        t: '非常欢迎你能到我的'
                    }, {
                        l: 'https://github.com/TUARAN',
                        t: ' 仓库主页 ',
                    }, {
                        t: '互相 follow !⭐star⭐！'
                    }]
                },
                {
                    id: 4,
                    text: [{
                            l: '',
                            t: '你也可在这些地方找到我：'
                        }, {
                            l: 'https://juejin.im/user/5bcd67a8e51d457947022910',
                            t: ' 掘金 ',
                        },
                        {
                            t: '、',
                        },
                        {
                            l: 'https://blog.csdn.net/qq_37969897/',
                            t: ' 知乎 ',
                        }, {
                            t: '、',
                        },

                        {
                            l: 'https://www.zhihu.com/people/tu-tu-tu-tu-tu-25-1',
                            t: ' CSDN ',
                        }, {
                            t: '、',
                        },
                        {
                            l: 'https://www.huxiu.com/member/2412214.html',
                            t: ' 虎嗅 ',
                        },
                        {
                            t: '、',
                        }, {
                            l: 'https://leetcode-cn.com/u/tuaran/',
                            t: '力扣',
                        }
                    ]
                },
                {
                    id: 5,
                    text: [{
                        l: '',
                        t: '我将努力在这些平台保持活跃，你愿意与我同行吗？',
                    }]
                }
            ],
            activities: [{
                    content: '个站优化，显示加群图片',
                    timestamp: '截至 2020.7.27',
                    state: '（已实现）👌'
                }, {
                    content: '掘金文章输出：拒绝 CV 系列之原型链相关',
                    timestamp: '截至 2020.7.29'
                }, {
                    content: '公众号基础功能初始化',
                    timestamp: '截至 2020.7.30'
                },
                {
                    content: '个站功能新增：日历功能',
                    timestamp: '待规划'
                },
                {
                    content: '基于 Vue3 的后台管理系统模板-套娃',
                    timestamp: '待规划'
                },
                {
                    content: 'TS 系列学习',
                    timestamp: '待规划'
                }
            ],
            articleArr: [{
                    item: "《Vue(v2.6.11)万行源码生啃，就硬刚！》",
                    link: 'https://juejin.im/post/5f02f0bdf265da22ef7dbe5d',
                    view: '2.5w+',
                    like: '950+'
                },
                {
                    item: "《内鬼消息：串联高频面试问题，值得一看！》",
                    link: 'https://juejin.im/post/5f0aa7ac6fb9a07e654fa26b',
                    view: '4.5k+',
                    like: '70+'
                },
                {
                    item: "《重读 ES6 标准入门（第3版）》",
                    link: 'https://juejin.im/post/5d819151e51d4561e84fccc8',
                    view: '1.6k+',
                    like: ''
                },
                {
                    item: " 更多尽在主页",
                    link: 'https://juejin.im/user/5bcd67a8e51d457947022910/posts',
                },
            ]
        },
        created() {},
        mounted() {
            this.loading = false;
            console.log(this.$refs.home.style.display = 'flex')
        },
        methods: {
            handleRss() {
                this.$notify({
                    title: 'Oops',
                    message: 'RSS 订阅功能还在开发中',
                    type: 'warning'
                });
            },
            showImgJZ() {
                this.$notify({
                    title: '扫码进群',
                    dangerouslyUseHTMLString: true,
                    message: '<img src="../assets/img/jianzhi.jpg" width="60px" height="80px">'
                });
            }
        }
    })
</script>
<script>
    console.log("----------------------- 更多相关 -----------------------\n诚邀志同道合者同行 ~\n")
    console.log("1. 加我微信号😁：", "Ifuckinghigh")
    console.log("2. Base📍：", "广州")
    console.log("3. 毕业院校🏫：", "华师（SCNU）")
    console.log("4. 我还关注👀：")
    const focusArr = [{
            "关注": '科哲神学',
            "备注": "feat.量子力学",
        },
        {
            "关注": '电影解说',
            "备注": "也想当个电影解说的 youtuber",
        },
        {
            "关注": '微信读书',
            "备注": "向五百小时进发！",
        },
        {
            "关注": '股票',
            "备注": "A股虐我千百遍，我待A股如初恋",
        },
        {
            "关注": '壁纸制作',
            "备注": "https://wallhaven.cc/user/paperhawen"
        },

        {
            "关注": 'JRS',
            "备注": "玩梗别认真"
        },
        {
            "关注": '祖安狂人',
            "备注": "我亚索真的挺6"
        },
    ];
    console.table(focusArr);
    console.log("----------------------- 网站相关 -----------------------")
    console.log("1. loading and network information🔍:", chrome.loadTimes())
    console.log("2. 阿里云推荐码🐎：https://www.aliyun.com/minisite/goods?userCode=nk1m1mfv");
    console.log("3. 备案变更🔒base64：REhIOTMz");
</script>

</html>