 /* 参考雅虎样式初始化 */
 * {
     margin: 0;
     padding: 0;
 }

 body {
     color: #555;
     /* 掘金 */
     font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
     background: #FDFDFD url(../img/pattern.jpg) repeat-x;
 }

 a {
     color: #555;
     text-decoration: none;
     padding-bottom: 2px;
     border-bottom: 2px solid rgb(253, 234, 85)
 }

 a:hover {
     text-decoration: underline;
 }

 img {
     border: none;
 }

 .home {
     display: flex;
     height: 100vh;
     flex-direction: column;
     justify-content: space-around;
     overflow-x: hidden;
 }

 .principle {
     width: 100%;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 30px;
 }

 .content-wrap {
     max-width: 1200px;
     min-height: 600px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     z-index: 9;
 }

 .beian {
     margin-bottom: 5px;
 }

 .footer-p {
     font-size: 14px;
     color: #a1a1a1;
     text-align: center;
 }

 .btn-f12 {
     border-radius: 1px;
     padding: 0 2px;
     cursor: pointer;
     color: #fff;
 }

 .bottom-link {
     border-bottom: none;
     color: rgb(107, 107, 107);
 }

 /* coffee cup - loading */
 .coffee_cup {
     width: 20px;
     height: 24px;
     border: 1px #666 solid;
     border-radius: 0px 0px 5px 5px;
     position: relative;
     margin: 36px auto;
     position: absolute;
     top: 35%;
     margin-top: -12px;
     left: 50%;
     margin-left: -10px;
 }

 .coffee_cup:after,
 .coffee_cup:before {
     position: absolute;
     content: "";
 }

 .coffee_cup:after {
     width: 5px;
     height: 12px;
     border: 1px #fff solid;
     border-left: none;
     border-radius: 0px 20px 20px 0px;
     left: 20px;
 }

 .coffee_cup:before {
     width: 1px;
     height: 6px;
     background-color: #666;
     top: -10px;
     left: 4px;
     box-shadow: 5px 0px 0px 0px #666,
         5px -5px 0px 0px #666,
         10px 0px 0px 0px #666;
     -webkit-animation: steam 1s linear infinite alternate;
     -moz-animation: steam 1s linear infinite alternate;
     animation: steam 1s linear infinite alternate;
 }

 @-webkit-keyframes steam {
     0% {
         height: 0px;
     }

     100% {
         height: 6px;
     }
 }

 @-moz-keyframes steam {
     0% {
         height: 0px
     }

     100% {
         height: 6px;
     }
 }

 @keyframes steam {
     0% {
         height: 0px
     }

     100% {
         height: 6px;
     }
 }

 #rotate {
     animation: spin 3s steps(24) infinite;
     margin-left: 5px;
 }

 @keyframes spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

 img.topleft {
     position: absolute;
     top: 0;
     left: 0;
     width: 20vw;
     height: 20vw;
 }

 .translate {
     color: #999;
     font-size: 14px;
     cursor: pointer;
     position: absolute;
     top: 10px;
     right: 10px;
     text-align: right;
 }

 .slideTip {
     color: rgb(163, 108, 6);
     margin-top: 15px;
     box-shadow: 0px 0px 5px rgb(163, 108, 6);
     padding: 0 5px;
     border-radius: 2px;
     cursor: default;
 }

 .tip-span {
     font-size: 0.8rem;
     color: #999;
 }

 .bar-item {
     box-shadow: -2px 2px 1px rgb(238, 173, 87);
     margin-left: 50px;
 }

 .bar-item:nth-child(1) {
     margin-left: 0px;
 }

 .bar-content {
     box-shadow: 0px 0px 2px rgb(238, 173, 87);
 }

 .bc1,
 .bc2 {
     display: none;

 }

 .text {
     font-size: 14px;
 }

 .item {
     margin-bottom: 18px;
 }

 .el-badge.item{
     margin-bottom: 0px;
 }

 .clearfix:before,
 .clearfix:after {
     display: table;
     content: "";
 }

 .clearfix:after {
     clear: both
 }

 .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
     color: rgba(242, 156, 43, 1);
 }

 .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
     color: rgba(242, 156, 43, 1);
 }

 .el-button--text {
     color: rgba(242, 156, 43, 1);
 }

 .el-button:focus,
 .el-button:hover {
     color: rgba(242, 156, 43, 1);
 }

 .el-tabs--border-card {
     box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
     border: 1px solid #EBEEF5;
 }

 .tabs-box {
     width: 700px;
     min-height: 240px;
     font-size: 14px;
     letter-spacing: 1.1px;
 }

 .tabs-box p {
     padding: 5px 10px;
 }

 .cursor-p {
     cursor: pointer;
 }

 .el-drawer__header>span,
 .el-drawer__open .el-drawer.rtl {
     outline-style: none;
 }

 /* 滚动槽 */
 ::-webkit-scrollbar {
     width: 6px;
     height: 6px;
 }

 ::-webkit-scrollbar-track {
     border-radius: 3px;
     background: rgba(0, 0, 0, 0.06);
     -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
 }

 /* 滚动条滑块 */
 ::-webkit-scrollbar-thumb {
     border-radius: 3px;
     background: rgba(0, 0, 0, 0.12);
     -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
 }

 .statistic-span {
     color: #999;
     margin: 0 10px;
 }

 .el-drawer__body {
     overflow-y: scroll;
 }

 .el-collapse-item__header {
     padding-left: 20px;
 }

 /* 移动端 */
 @media screen and (max-width: 768px) {
     img.topleft {
         opacity: 0.2;
     }

     #f12 {
         display: none;
     }

     .footer {
         display: none;
     }

     .home {
         height: auto;
     }

     .tabs-box {
         width: auto;
         height: auto;
     }

     .el-drawer__open .el-drawer.rtl {
         width: 100%!important;
     }
 }